<aside class="docs-nav">
    
    <div class="docs-nav__section">
        <h3 class="docs-nav__section__heading">Section titlie</h3>
        <ul class="docs-nav__section__list">
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
        </ul>
    </div>
    
    <div class="docs-nav__section">
        <h3 class="docs-nav__section__heading">Section titlie</h3>
        <ul class="docs-nav__section__list">
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
        </ul>
    </div>
    
    <div class="docs-nav__section">
        <h3 class="docs-nav__section__heading">Section titlie</h3>
        <ul class="docs-nav__section__list">
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
        </ul>
    </div>
   
    <div class="docs-nav__section">
        <h3 class="docs-nav__section__heading">Section titlie</h3>
        <ul class="docs-nav__section__list">
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
        </ul>
    </div>
   
    <div class="docs-nav__section">
        <h3 class="docs-nav__section__heading">Section titlie</h3>
        <ul class="docs-nav__section__list">
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
        </ul>
    </div>
  
    <div class="docs-nav__section">
        <h3 class="docs-nav__section__heading">Section titlie</h3>
        <ul class="docs-nav__section__list">
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
        </ul>
    </div>
  
    <div class="docs-nav__section is-collapse">
        <h3 class="docs-nav__section__heading">Section titlie</h3>
        <ul class="docs-nav__section__list">
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
        </ul>
    </div>
 
    <div class="docs-nav__section">
        <h3 class="docs-nav__section__heading">Section titlie</h3>
        <ul class="docs-nav__section__list">
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
        </ul>
    </div>

    <div class="docs-nav__section">
        <h3 class="docs-nav__section__heading">Section titlie</h3>
        <ul class="docs-nav__section__list">
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
            <li class="docs-nav__section__list__item">test</li>
        </ul>
    </div>
</aside>