<footer class="main-footer">

    <div class="main-footer__links">
        <div class="main-footer__links__section">
            <h3 class="main-footer__links__section__heading"></h3>
            <ul class="main-footer__links__section__list">
                <li class="main-footer__links__section__list__item">
                    <a href="" class="main-footer__lnks__section__list__item__link">
                        link
                    </a>
                </li>
            </ul>
        </div>

        <div class="main-footer__links__section">
            <h3 class="main-footer__links__section__heading"></h3>
            <ul class="main-footer__links__section__list">
                <li class="main-footer__links__section__list__item">
                    <a href="" class="main-footer__lnks__section__list__item__link">
                        link
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-footer__links__section">
            <h3 class="main-footer__links__section__heading"></h3>
            <ul class="main-footer__links__section__list">
                <li class="main-footer__links__section__list__item">
                    <a href="" class="main-footer__lnks__section__list__item__link">
                        link
                    </a>
                </li>
            </ul>
        </div>            
    </div>
    
    <div class="main-footer__copyrights">
        <p>&copy;2017 <a href="{{site.baseurl}}/{{site.author.site}}">{{site.author}}</a>. All Rights Rserved</p>
    </div>

</footer>