.post-modal

    // for styling
    background-color: gray

    padding: 15px
    margin: 15px 0
    border-bottom: 1px solid black
    &__heading
        margin: 0
    &__meta
        margin-top: 5px
        font-size: .75rem
        &__author
            font-weight: bold
    &__content
        line-height: 1.5
