<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/theme.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/docyll.css' | relative_url }}">
        {% if site.google_analytics %}
            {% include analytics.html %}
        {% endif %}
    </head>
    <body>
        <!-- Header -->
        {% include header.html %}

        <!-- Main Content -->
        <main>{{ content }}</main>
        <!-- Footer -->
        {% include footer.html %}
        
        <!-- Javascripts -->
        <script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
    </body>
</html>
